<div class = "p-4 border mb-4">
<h3>How many passengers can you carry on your restricted? </h3>
<img class="img" src="/static/images/RestrictedPassengers.jpg" width="50%"ç/>
  <div class="form-check">
    <input id="RestrictedPassengers1" class="form-check-input" type="radio" name="RestrictedPassengers" value="0" required/>
    <label class="form-check-label" for="RestrictedPassengers1">
        None
    </label>
  </div>
  <div class="form-check">
    <input id="RestrictedPassengers2" class="form-check-input" type="radio" name="RestrictedPassengers" value="CarFits" />
    <label class="form-check-label" for="RestrictedPassengers2">
        As many as the car fits
    </label>
  </div>
  <div class="form-check">
    <input id="RestrictedPassengers3" class="form-check-input" type="radio" name="RestrictedPassengers" value="FullyLicencedPassenger" />
    <label class="form-check-label" for="RestrictedPassengers3">
        As many as the car fits so long as there is a fully licenced driver of two years in the front passenger seat
    </label>
  </div>
</h3>
</div>