<div class = "p-4 border mb-4">
<h3>How long do you stop at a stop sign for?</h3>
<img class="img" src="/static/images/StopSignSeconds.jpg" width="50%"ç/>
  <div class="form-check">
    <input id="stopSignWait1" class="form-check-input" type="radio" name="stopSignWait" value="1" required/>
    <label class="form-check-label" for="stopSignWait1">
      1 second
    </label>
  </div>
  <div class="form-check">
    <input id="stopSignWait2" class="form-check-input" type="radio" name="stopSignWait" value="2" />
    <label class="form-check-label" for="stopSignWait2">
      2 seconds
    </label>
  </div>
  <div class="form-check">
    <input id="stopSignWait3" class="form-check-input" type="radio" name="stopSignWait" value="3" />
    <label class="form-check-label" for="stopSignWait3">
      3 seconds
    </label>
  </div>
</h3>
</div>