<div class = "p-4 border mb-4">
<h3>When it is raining, what is the following distance? </h3>
<img class="img" src="/static/images/RainFollowingDistance.jpg" width="50%"ç/>
  <div class="form-check">
    <input id="RainDistance1" class="form-check-input" type="radio" name="RainDistance" value="2" required/>
    <label class="form-check-label" for="RainDistance1">
        2 seconds
    </label>
  </div>
  <div class="form-check">
    <input id="RainDistance2" class="form-check-input" type="radio" name="RainDistance" value="6" />
    <label class="form-check-label" for="RainDistance2">
        6 seconds
    </label>
  </div>
  <div class="form-check">
    <input id="RainDistance3" class="form-check-input" type="radio" name="RainDistance" value="4" />
    <label class="form-check-label" for="RainDistance3">
        4 seconds
    </label>
  </div>
</h3>
</div>