<div class = "p-4 border mb-4">
<h3>Who has the right of way if two people pull up to a stop sign and go straight ahead? (see diagram)</h3>
<img class="img" src="/static/images/StopSign.jpeg" width="50%"ç/>
  <div class="form-check">
    <input id="GiveWay1" class="form-check-input" type="radio" name="GiveWay" value="1st" required />
    <label class="form-check-label" for="GiveWay1">
        The person who was there first
    </label>
  </div>
  <div class="form-check">
    <input id="GiveWay2" class="form-check-input" type="radio" name="GiveWay" value="2nd" />
    <label class="form-check-label" for="GiveWay2">
        The person who pulled up second
    </label>
  </div>
  <div class="form-check">
    <input id="GiveWay3" class="form-check-input" type="radio" name="GiveWay" value="neither" />
    <label class="form-check-label" for="GiveWay3">
        Neither, they can go at the same time
    </label>
  </div>
</h3>
</div>