<!--Evidence relevant coding conventions of the
   language have been consistently applied
    consistently used template files to split up the code
    and make it easier to read/maintain-->
<div class = "p-4 border mb-4">
<h3>What is the speed limit around school buses?</h3>
<img class="img" src="/static/images/SchoolBusSpeed.jpg" width="50%"ç/>
  <div class="form-check">
    <!--Checking input data for validity, question required-->
    <input id="SchoolBusSpeed1" class="form-check-input" type="radio" name="SchoolBusSpeed" value="20" required />
    <label class="form-check-label" for="SchoolBusSpeed1">
      20km/h
    </label>
  </div>
  <div class="form-check">
    <input id="SchoolBusSpeed2" class="form-check-input" type="radio" name="SchoolBusSpeed" value="40" />
    <label class="form-check-label" for="SchoolBusSpeed2">
      40km/h
    </label>
  </div>
  <div class="form-check">
    <input id="SchoolBusSpeed3" class="form-check-input" type="radio" name="SchoolBusSpeed" value="10" />
    <label class="form-check-label" for="SchoolBusSpeed3">
      10km/h
    </label>
  </div>
</h3>
</div>