<div class = "p-4 border mb-4">
<h3>How long before turning should you indicate?</h3>
<img class="img" src="/static/images/Indicators.jpg" width="50%"ç/>
  <div class="form-check">
    <input id="Indication1" class="form-check-input" type="radio" name="Indication" value="2" required/>
    <label class="form-check-label" for="Indication1">
        2 seconds
    </label>
  </div>
  <div class="form-check">
    <input id="Indication2" class="form-check-input" type="radio" name="Indication" value="3" />
    <label class="form-check-label" for="Indication2">
        3 seconds
    </label>
  </div>
  <div class="form-check">
    <input id="Indication3" class="form-check-input" type="radio" name="Indication" value="5" />
    <label class="form-check-label" for="Indication3">
        5 seconds
    </label>
  </div>
</h3>
</div>