<div class = "p-4 border mb-4">
<h3>What hours can you drive between on your restricted?</h3>
<img class="img" src="/static/images/RestrictedTimes.jpg" width="50%"ç/>
  <div class="form-check">
    <input id="RestrictedTime1" class="form-check-input" type="radio" name="RestrictedTime" value="10-5" required/>
    <label class="form-check-label" for="RestrictedTime1">
        5am – 10pm
    </label>
  </div>
  <div class="form-check">
    <input id="RestrictedTime2" class="form-check-input" type="radio" name="RestrictedTime" value="12-3" />
    <label class="form-check-label" for="RestrictedTime2">
        12 am – 3pm
    </label>
  </div>
  <div class="form-check">
    <input id="RestrictedTime3" class="form-check-input" type="radio" name="RestrictedTime" value="5-10" />
    <label class="form-check-label" for="RestrictedTime3">
        10am – 5pm
    </label>
  </div>
</h3>
</div>