<div class = "p-4 border mb-4">
<h3>If your headlights don’t work is the vehicle legally drivable?</h3>
<img class="img" src="/static/images/BrokenHeadlight.jpg" width="50%"ç/>
  <div class="form-check">
    <input id="Headlights1" class="form-check-input" type="radio" name="Headlights" value="no" required/>
    <label class="form-check-label" for="Headlights1">
        No it would fail a WoF
    </label>
  </div>
  <div class="form-check">
    <input id="Headlights2" class="form-check-input" type="radio" name="Headlights" value="DuringDay" />
    <label class="form-check-label" for="Headlights2">
        Yes, but only during the day
    </label>
  </div>
  <div class="form-check">
    <input id="Headlights3" class="form-check-input" type="radio" name="Headlights" value="PlanningToFix" />
    <label class="form-check-label" for="Headlights3">
        Yes, so long as you are planning to fix it
    </label>
  </div>
</h3>
</div>