<div class = "p-4 border mb-4">
<h3>What is the maximum speed allowed after passing this sign? </h3> <!-- open speed limit sign -->
<img class="img" src="/static/images/OpenSpeedLimit.jpg" width="25%"ç/>
  <div class="form-check">
    <input id="OpenSpeed1" class="form-check-input" type="radio" name="OpenSpeed" value="no" required/>
    <label class="form-check-label" for="OpenSpeed1">
        No speed limit
    </label>
  </div>
  <div class="form-check">
    <input id="OpenSpeed2" class="form-check-input" type="radio" name="OpenSpeed" value="90" />
    <label class="form-check-label" for="OpenSpeed2">
        90km/h
    </label>
  </div>
  <div class="form-check">
    <input id="OpenSpeed3" class="form-check-input" type="radio" name="OpenSpeed" value="100" />
    <label class="form-check-label" for="OpenSpeed3">
        100km/h
    </label>
  </div>
</h3>
</div>