<div class = "p-4 border mb-4">
<h3>What is the legal minimum tread depth of your vehicle's tyres?</h3>
<img class="img" src="/static/images/TreadDepth.jpg" width="50%"ç/>
  <div class="form-check">
    <input id="TyreTread1" class="form-check-input" type="radio" name="TyreTread" value="1.5" required/>
    <label class="form-check-label" for="TyreTread1">
        1.5mm
    </label>
  </div>
  <div class="form-check">
    <input id="TyreTread2" class="form-check-input" type="radio" name="TyreTread" value="1" />
    <label class="form-check-label" for="TyreTread2">
        1mm
    </label>
  </div>
  <div class="form-check">
    <input id="TyreTread3" class="form-check-input" type="radio" name="TyreTread" value="3" />
    <label class="form-check-label" for="TyreTread3">
        3mm
    </label>
  </div>
</h3>
</div>