{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
content %}

<div class="container">
  <h1 class="mb-4">Quiz</h1>

  <!--Using actions, conditions, control structures and methods,
    functions, procedures, actions, conditions and control structures effectively
   rather than repeating the same code ten time, i used a loop-->
  <form action="/result" method="post">
    {% for n in range(1,11) %} {% include "./questions/question"~n~".html" %} {%
    endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}
